{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <div class="main">
        <h1>Create New Page</h1>

        <form method="POST" action="{% url 'create' %}">
            {% csrf_token %}
            <label for="title">Title: </label><br>
            <input class="title-box" type="text" id="title" name="title" placeholder="Enter the Title Here"><br>

            <label for="content">Content: </label><br>
            <textarea class="content-box" id="content" name="content"></textarea><br>

            <input type="submit" value="Create">
        </form>
    </div>

{% endblock %}