{% extends "auctions/layout.html" %}

{% block body %}
        <h1>Active {{ title }} Listings</h1>
    
    {% if not listings %}
        <p class="not-found">No listings were found in this category.</p> 
        <form action="{% url 'index' %}" method="GET" style="width: 100%; text-align: center;">
            <input class="btn btn-primary" type="submit" value="Return to Active Listings" style="width: auto; margin: 0 auto;">
        </form>
            
    {% else %}
        <div class="grid-container">
            {% for listing in listings %}
                <div class="container view-listing" data-listing-id="{{ listing.id }}" data-listing-url="{% url 'listing' listing.id %}">
                    <div class="top-section">
                        <img src="{{ listing.image }}">
                    </div>
                    <div class="bottom-section">
                        <h5>{{ listing.name }}</h5>
                        <p class="price">${{ listing.current_price }}</p>
                        <p class="bid">{{ listing.bid_count}} bid(s)</p>
                        <p class="bottom-left" style="color:grey"><em>Starting Bid was ${{ listing.price }}</em></p>
                        <p class="bottom-right" style="color:crimson"><b>{{ listing.category }}</b></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        document.querySelectorAll('.view-listing').forEach(function(element) {
        element.addEventListener('click', function() {
            var listingUrl = this.getAttribute('data-listing-url');
            window.location.href = listingUrl;
        });
    });
    </script>

{% endblock %}