{% extends "auctions/layout.html" %}

{% block body %}

    {% for message in messages %} 
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong>{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1>Create Listing</h1>

    <form method="POST" class="centered-form"action="{% url 'create' %}" style="margin: 20px;">
        {% csrf_token %}

        <div class="form-group">
            <label for="title" style="padding-top: 5px;">Title:</label><br>
            <input class="text-box" type="text" id="title" name="title" placeholder="Enter Title"><br>
        </div>

        <div class="form-group">
            <label for="description">Description:</label><br>
            <textarea class="description-box" id="description" name="description" placeholder="Describe Listing"></textarea><br>
        </div>

        <div class="form-group">
            <label for="price">Starting Price:</label><br>
            <input class="text-box" type="number" id="price" name="price" placeholder="Enter Price" step="0.01"><br>
        </div>

        <div class="form-group">
            <label for="url">Image URL:</label><br>
            <input class="text-box" type="url" id="url" name="url" placeholder="Enter URL"><br>
        </div>

        <div class="form-group">
            <label for="category">Category:</label><br>
            <select name="category" id="category" class="select">
                <option value="" selected disabled>Select Category</option>
                {% for category in categories %}
                    <option>{{ category }}</option>
                {% endfor %}
            </select><br>
        </div>

        <input type="submit" id="create-listing" value="Create Listing">

    </form>
{% endblock %}


<div class="form-group"></div>