{% extends "auctions/layout.html" %}

{% block body %}

    {% for message in messages %} 
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success! </strong>{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1>Active Listings</h1>

    <div class="grid-container">
        {% for listing in listings %}
        <div class="container view-listing" data-listing-id="{{ listing.id }}" data-listing-url="{% url 'listing' listing.id %}">
            <div class="top-section">
                <img src="{{ listing.image }}">
            </div>
            <div class="bottom-section">
                <h5>{{ listing.name }}</h5>
                <p class="price">${{ listing.current_price }}</p>
                <p class="bid">{{ listing.bid_count}} bid(s)</p>
                <p class="bottom-left" style="color:grey"><em>Starting Bid was ${{ listing.price }}</em></p>
                <p class="bottom-right" style="color:crimson"><b>{{ listing.category }}</b></p>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        document.querySelectorAll('.view-listing').forEach(function(element) {
        element.addEventListener('click', function() {
            var listingUrl = this.getAttribute('data-listing-url');
            window.location.href = listingUrl;
        });
    });
    </script>

{% endblock %}