{% extends "auctions/layout.html" %}

{% block body %}
    <div class="listing-container">
        <div class="left-side">
            <img src="{{ listing.image }}">
        </div>
        <div class="right-side">
            <div class="descriptive-container">
                {% if listing.active %}
                <form method="post" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                    {% if user.id not in watched_by_ids %}
                        <input type="submit" name="add-to-watchlist" id="add-to-watchlist" value="Add to Watchlist">
                    {% else %}
                        <input class="remove-watchlist" id="add-to-watchlist" type="submit" name="remove-watchlist" value="Remove From Watchlist">
                    {% endif %}
                </form>
                {% endif %}
                <h2 style="padding-bottom: 30px">{{ listing.name }}</h2>
                <p style="padding-bottom: 15px"><em>"{{listing.description}}"</em></p>
                <p class="time-since">Listed by {{ listing.owner }} <span class="time-since-post" data-created="{{ listing.created.isoformat }}"></span></p>
                <div class="centered-description">
                    {% if listing.active %}
                        <h4 style="padding-top: 20px"><span><b>Current Price: </b>${{ listing.current_price }}</span></h4>
                    {% else %}
                        <h4 style="padding-top: 20px"><span><b>Winning Bid: </b>${{ listing.current_price }}</span></h4>
                    {% endif %}
                    <span class="bid-info">
                        {% if not listing.current_winner == user and listing.active %}
                            <p class="description-bids">{{ listing.bid_count }} bid(s) so far.</p>
                        {% elif listing.current_winner == user and listing.active %}
                            <p class="description-bids">{{ listing.bid_count }} bid(s) so far.</p>
                            <div style="padding-right: 20px"></div>
                            <p class="description-bids" style="background-color: rgb(144, 250, 122)">Your bid is the highest!</p>
                        {% elif listing.current_winner == user and not listing.active %}
                            <p class="description-bids" style="background-color: rgb(144, 250, 122)">You won this listing!</p>
                        {% elif not listing.current_winner == user and not listing.active %}
                            <p class="description-bids">Listing is closed</p>
                        {% endif %}
                    </span>
                    {% if user != listing.owner and listing.active %}
                        <form class="centered-form" method="post" action="{% url 'listing' listing.id %}" style="padding-top: 15px">
                            {% csrf_token %}
                            <input class="text-box" type="number" id="bid" name="bid" placeholder="Enter Your Bid" step="0.01" style=" width: 15vw"><br>
                            <input type="submit" id="place-bid" value="Place Bid" style="width: auto; margin-bottom: 10px">
                        </form>
                    {% elif listing.active %}
                    <form class="cenetered-form" method="post" action="{% url 'listing' listing.id %}">
                        {% csrf_token %}
                        <input class="close-listing" type="submit" name="close-listing" value="Close Listing">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="comments">
        <form method="post" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            <div class="comments-heading">
                <label for="comments"><h4><b>Comments</b></h4></label>
                <h4 class="comment-counter"><b>{{ comments_count }}</b></h4>
            </div>
            <textarea class="comments-input" id="comments" name="comments" placeholder="Comment on Listing"></textarea><br>
            <input type="submit" id="add-comment" value="Add Comment" style="width: auto; float: right;">
        </form>
        <div style="margin-top: 85px;">
            {% for comment in comments %}
                <div class="comment-box">
                    <h6 style="padding: 0px"><b>{{ comment.user }}</b></h6>
                    <p style="padding: 0; margin: 0px">{{ comment.description }}</p>
                    <p class="time-since-post top-right" data-created="{{ comment.date.isoformat }}"></p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const timeSincePostElements = document.querySelectorAll('.time-since-post');
    
        timeSincePostElements.forEach(element => {
            const createdTimestamp = new Date(element.getAttribute('data-created')).getTime();
            const currentTimestamp = new Date().getTime();

            const timeDifference = currentTimestamp - createdTimestamp;
            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));

            let displayText = '';

            if (days === 1) {
                displayText += '1 day';
            } else if (days > 1) {
                displayText += `${days} days`;
            }

            if (days > 0 && (hours > 0 || minutes > 0)) {
                displayText += ', ';
            }

            if (hours === 1) {
                displayText += '1 hour';
            } else if (hours > 1) {
                displayText += `${hours} hours`;
            }

            if ((days > 0 || hours > 0) && minutes > 0) {
                displayText += ', ';
            }

            if (days === 0 && minutes === 1) {
                displayText += '1 minute';
            } else if (minutes > 1) {
                displayText += `${minutes} minutes`;
            }

            if (!days && !hours && !minutes) {
                displayText = 'less than a minute';
            }

            element.innerText = displayText + ' ago';
        });
    </script>
    
    
{% endblock %}