/* Styles for body */
body {
    padding-top: 57px; /* So the body starts underneath the navbar */
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f7f7f7; /* Slight shade of grey to make posts pop */
}

/* Styles for elements with class 'details-heading' */
.details-heading {
    text-align: center; /* Aligns text to the center */
    font-weight: bold; /* Sets font weight to bold */
    font-size: 40px; /* Sets font size to 40px */
    padding-top: 30px; /* Adds top padding of 30px */
    padding-bottom: 20px; /* Adds bottom padding of 20px */
}

.all-content {
    width: 60vw;
    margin: 0 auto; /* This centers the element horizontally */
    position: relative;
}

/* Styles for a centered form */
.centered-form {
    display: flex; /* Uses flexbox */
    flex-direction: column; /* Arranges children in a column */
    align-items: center; /* Centers items horizontally */
}

/* Styles for form groups */
.form-group {
    width: 60vw; /* Sets width to 60% of viewport width */
    display: flex; /* Uses flexbox */
    flex-direction: column; /* Arranges children in a column */
    align-items: flex-start; /* Aligns items to the start */
    margin-bottom: 15px; /* Adds bottom margin of 15px */
}

/* Styles for form controls */
.form-control {
    padding: 5px; /* Sets padding to 5px */
    border-radius: 5px; /* Rounds corners with a 5px radius */
    border: none; /* Removes default border */
    border: solid 1px #ccc; /* Adds a solid border with color #ccc */
    background-color: white; /* Sets the background color to white */
    border-width: 2px; /* Sets border width to 2px */
}

.nav-profile-picture {
    margin-top: 0px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Hides any content that goes beyond the circular border */
    border: 2px solid white; /* Add a border around the circle */
    object-fit: cover;
}

.post-container {
    padding: 20px;
    margin-bottom: 20px;
    border: solid 2px rgb(226, 226, 226);
    border-radius: 10px;
    background-color: white; /* Sets the background color to white */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2); /* Adds a shadow on all sides */
}

.post-profile {
    display: flex;
    margin-bottom: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#time-since-post {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace; /* Sets font family */
    color: grey; /* Text color */
    font-size: 15px;
}

.post-body {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    font-weight: 300;
}
