body {
    padding: 30px;
    padding-top: 100px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-weight: 600;
}

h5 {
    padding: 2px;
    padding-bottom: 7px;
    font-weight: 600;
}


.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

select {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    width: 70%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 20px;
    padding-left: 150px;
    padding-right: 150px;
  }

.container {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 275px;
    height: 400px;
    border-color:darkgrey;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 0px;
    padding: 0px;
    transition: filter 0.3s ease;
}

.container:hover {
    filter: brightness(90%);
}

.top-section {
    height: 65%;
    border-bottom-color:lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.bottom-section {
    height: 35%;
    padding: 15px;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-bottom: 0px;
    font-size:small;
}


.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-bottom: 0px;
    font-size:small;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  label {
    padding-bottom: 8px;
    padding-top: 15px;
  }


input[type="number"],
input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"] {
    width: 50vw;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border:solid 1px #ccc;
    border-width: 2px;
}

.description-box {
    width:50vw;
    height: 100px;
    border-radius: 5px;
    border: none;
    border:solid 1px #ccc;
    border-width: 2px;
}

.select {
    width: 50vw;
    border-radius: 5px;
    border: none;
    border:solid 1px #ccc;
    border-width: 2px;
}

input[type="submit"] {
    margin-top: 20px; 
    width: 50vw;
    background-color: #007BFF; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
  
input[type="submit"]:hover {
    background-color: #0056b3;
}

input.close-listing[type="submit"],
input.remove-watchlist[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px; 
    width: auto; 
    background-color: rgb(224, 56, 56);
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

input.close-listing[type="submit"]:hover,
input.remove-watchlist[type="submit"]:hover { 
    background-color: rgb(192, 41, 41); 
}

.navbar-nav.ml-auto.dropdown {
    position: absolute;
    right: 0;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.price {
    font-size: x-large;
    font-weight: 700;
    padding-left: 15px;
    color: crimson;
}

.bid {
    position: absolute;
    bottom: 37px;
    right: 25px;
}

.listing-container {
    display: flex;
}

.left-side {
    flex: 0 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    margin: 0;
    padding: 5px;
    max-width: 70%;
    height: auto;
    max-height: 450px;
    display: block;
    object-fit: cover;
    object-position: center;
    border-width: 5px;
    border-color: darkslategrey;
    border-style: solid;
}

.right-side {
    flex: 1;
    padding: 20px;
    min-width: 600px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-side,
    .right-side {
        width: 100%;
    }
}

.descriptive-container {
    position: relative;
    padding: 20px;
    border-width: 2px;
    border-color: lightgrey;
    border-style: solid;
}

#add-to-watchlist {
    width: auto;
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
}

.time-since {
    font-family: 'Courier New', Courier, monospace; 
    color: grey; 
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

.not-found {
    padding-top: 30px;
    text-align: center;
}

.centered-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bid-info {
    display: flex;
    align-items: center;
}

.description-bids {
    margin: 0;
    font-size: small; 
    background-color: rgb(235, 235, 235);
    margin-top: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    font-weight: 600;
}

.comments {
    margin: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.comments-heading {
    display: flex;
    align-items: center;
}

.comment-counter {
    margin-top: 6px;
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

.comments-input {
    width:100%;
    height: 70px;
    border-radius: 5px;
    border: none;
    border:solid 1px #ccc;
    border-width: 2px;
}

.comment-box {
    position: relative;
    margin-top: 20px;
    padding: 15px;
    width:100%;
    border-radius: 5px;
    border:solid 1px #ccc;
    border-width: 1px;
    background-color: rgb(247, 247, 247);
}

.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.watchlist {
    margin: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.watchlist-container {
    cursor: pointer;
    transition: filter 0.3s ease;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border:solid 1px #ccc;
    border-width: 1px;
    background-color: rgb(247, 247, 247);
    margin-bottom: 30px;
}

.watchlist-container:hover {
    filter: brightness(90%);
}

.watchlist-left-side {
    flex: 0 0 auto;
    max-width: 191px;
    height: 200px;
    box-sizing: border-box;
    padding-right: 10px;
}

.watchlist-left-side img {
    height: 180px;
    width: 191px;
    object-fit: cover;
    margin: 10px;
    border-width: 3px;
    border-color: darkslategrey;
    border-style: solid;
}

.watchlist-right-side {
    position: relative;
    height: 160px;
    margin: 20px;
    margin-left: 40px;
    flex: 1;
    box-sizing: border-box;
    padding-left: 10px;
}

.watchlist-top-right {
    position: absolute;
    margin-top: 0px !important;
    top: 0px;
    right: 0px;
    font-size:small;
}

.status {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-style: normal;
    width: 200px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-weight: 600;
}

.watchlist-price {
    font-size: 20px; 
    padding-left: 3px;
    font-style: italic;
    color: rgb(100, 100, 100);
}
