{% extends "checklist/layout.html" %} <!-- Extends a base layout template -->

{% block body %} <!-- Starts the body content block -->

    {% if message %}
        <!-- Displays an alert if 'message' is provided -->
        <div class="alert alert-danger alert-dismissible fade show justify-content-center" role="alert" style="margin-top: 20px; width: 60vw; margin-left: auto; margin-right: auto;">
            <strong>Error! </strong>{{message}} <!-- Displays the error message -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
   
    <!-- Button trigger create new list modal -->
    <button type="button" class="btn btn-primary" style="width: 100%; padding: 10px;" data-bs-toggle="modal" data-bs-target="#createListModal">Create List</button>

    <!-- Create new list modal -->
    <div class="modal fade" id="createListModal" tabindex="-1" aria-labelledby="createListModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createListModalLabel">Create List</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <textarea id="list_title_textarea" name="title" class="form-control" placeholder="What would you like to call the list?"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  

    {% if lists %}
        {% for list in lists %}
            <p>{{list.listName}}</p>
        {% endfor %}
    {% else %}
        Your account currently has no lists
    {% endif %}

{% endblock %}