{% extends "checklist/layout.html" %} <!-- Extends a base layout template -->

{% block body %} <!-- Starts the body content block -->

    {% if message %}
        <!-- Displays an alert if 'message' is provided -->
        <div class="alert alert-danger alert-dismissible fade show justify-content-center" role="alert" style="margin-top: 20px; width: 60vw; margin-left: auto; margin-right: auto;">
            <strong>Error! </strong>{{message}} <!-- Displays the error message -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <!-- Button trigger create new list modal -->
        <div class="centered-container">
            <button type="button" data-bs-toggle="modal" data-bs-target="#createListModal">
                <span class="animated-box-button" style="width: 60vw;">
                    Create New List
                </span>
            </button>
        </div>

        <!-- Create new list modal -->
        <div class="modal fade" id="createListModal" tabindex="-1" aria-labelledby="createListModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createListModalLabel">Create List</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="{% url 'index' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <textarea id="list_title_textarea" name="title" class="form-control" placeholder="What would you like to call the list?"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    

        {% if lists %}
            {% for list in lists %}
                <div class="list-contents">
                    <div class="list-contents-left-side view-list" data-list-url="{% url 'checklist' list.id %}">
                        <div class="list-name-{{ list.id }}">
                            {{list.listName}}
                        </div>
                    </div>
                    <div class="list-contents-right-side">
                        <!-- Options to edit or delete the list -->
                        <div class="three-dots">
                            <!-- Dropdown menu for editing and deleting -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="rgb(75, 75, 75)" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                            </svg>
                            <div class="dropdown-menu" style="margin-right: 10px;">
                                <!-- Links to edit and delete list -->
                                <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#rename_list_modal_{{ list.id }}">Rename</a>
                                <a href="{% url 'delete_list' list.id %}" class="dropdown-item">Delete</a>
                            </div>
                        </div>      
                        <div class="list-complete-count">
                            <b>Completed: </b>{{ list.completed_task_count }}/{{ list.total_task_count }}
                        </div>
                        <div class="list-issues-count">
                            <b>Issues: </b>{{ list.issue_task_count }}/{{ list.total_task_count }}
                        </div>
                    </div>
                </div>
                <!-- Modal for editing list -->
                <div class="modal fade" id="rename_list_modal_{{ list.id }}" tabindex="-1" role="dialog" aria-labelledby="renameListLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="{% url 'edit_list_name' list.id %}" method="POST">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="renameListNameLabel">Edit List Name</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Text area for editing the list -->
                                    <textarea id="name_textarea_{{ list.id }}" name="rename_list" class="form-control">{{ list.listName }}</textarea>
                                </div>
                                <div class="modal-footer">
                                    <!-- Buttons to close the modal or save changes -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Save changes">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <div class="empty-message">
                Your account currently has no lists.
            </div>
        {% endif %}

        <script src="static/checklist/three_dots_dropdown.js"></script> <!-- Script for editing and deleting lists -->
        <script src="static/checklist/list_url.js"></script> <!-- Script for navigating to an individual's list page-->

    {% else %}
        <div class="empty-message">
            You must create an account or sign in to access or create lists.
        </div>
    {% endif %}

{% endblock %}