{% extends "network/layout.html" %}

{% block body %}
    <div class="all-content">
        <div style="position: absolute; margin-top: 20px;">
            {% if posts %}  
                {% for post in posts %}
                    <div class="post-container">
                        <div class="post-profile">
                            <a href="{% url 'profile' user_id=post.user.id %}">
                                <img src="{{ MEDIA_URL }}{{ post.user.profile.picture }}" alt="Profile Picture" class="nav-profile-picture" style="width: 60px; height: 60px; cursor: pointer">
                            </a>
                            <div class="profile-info">
                                <strong>{{ post.user.username }}</strong>
                                <p id="time-since-post">Posted <span class="time-since-post" data-created="{{ post.timestamp.isoformat }}"></span></p>
                            </div>
                            <div class="post-three-dots">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="rgb(75, 75, 75)" class="bi bi-three-dots" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                  </svg>
                            </div>
                        </div>
                        <div class="post-body">{{ post.body }}</div>
                        <div class="post-likes">
                            <span class="like-counter" data-like-counter="{{ post.id }}">{{ post.likes }}</span>
                            <div class="heart" data-post-id="{{ post.id }}">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Sorry, you aren't following anyone or the people you follow haven't posted anything yet.</p>
            {% endif %}

            {% if posts.paginator.num_pages > 1 %}
                <nav aria-label="Page navigation example" style="padding-top: 10px;">
                    <ul class="pagination d-flex justify-content-center">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in posts.paginator.page_range %}
                            {% if page == posts.number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>

    <script>
        window.isAuthenticated = "{{ user.is_authenticated }}"; // Assuming user.is_authenticated is a boolean
        window.userId = "{{ user.id }}"; // Assuming you have access to the user's ID
    </script>
    

    <script src="static/network/time_since_post.js"></script>
    <script src="static/network/heart_button.js"></script>
    <script src="https://kit.fontawesome.com/a1b59462b2.js" crossorigin="anonymous"></script>
{% endblock %}