{% extends "auctions/layout.html" %}

{% block body %}

    {% for message in messages %}
        <!-- Loop through messages to display error alerts -->
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <!-- Heading for creating a listing -->
    <h1>Create Listing</h1>

    <!-- Form for creating a new listing -->
    <form method="POST" class="centered-form" action="{% url 'create' %}" style="margin: 20px;">
        {% csrf_token %}
        <!-- Input field for title -->
        <div class="form-group">
            <label for="title" style="padding-top: 5px;">Title:</label><br>
            <input class="text-box" type="text" id="title" name="title" placeholder="Enter Title"><br>
        </div>
        <!-- Input field for description -->
        <div class="form-group">
            <label for="description">Description:</label><br>
            <textarea class="description-box" id="description" name="description" placeholder="Describe Listing"></textarea><br>
        </div>
        <!-- Input field for starting price -->
        <div class="form-group">
            <label for="price">Starting Price:</label><br>
            <input class="text-box" type="number" id="price" name="price" placeholder="Enter Price" step="0.01"><br>
        </div>
        <!-- Input field for image URL -->
        <div class="form-group">
            <label for="url">Image URL:</label><br>
            <input class="text-box" type="url" id="url" name="url" placeholder="Enter URL"><br>
        </div>
        <!-- Input field for category -->
        <div class="form-group">
            <label for="category">Category:</label><br>
            <!-- Dropdown for selecting category -->
            <select name="category" id="category" class="select">
                <option value="" selected disabled>Select Category</option>
                {% for category in categories %}
                    <!-- Loop to populate category options -->
                    <option>{{ category }}</option>
                {% endfor %}
            </select><br>
        </div>
        <!-- Submit button to create the listing -->
        <input type="submit" id="create-listing" value="Create Listing">
    </form>

{% endblock %}

<!-- Empty form-group outside of the block -->
<div class="form-group"></div>
