{% extends "auctions/layout.html" %}

{% block body %}

    {% for message in messages %} 
        <!-- Display error messages if any -->
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <!-- Login form -->
    <h1>Login</h1>
    <form class='centered-form' action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <!-- Input field for username -->
            <input autofocus class="form-control" type="text" name="username" placeholder="Username" style="margin-top: 20px;">
        </div>
        <div class="form-group">
            <!-- Input field for password -->
            <input class="form-control" type="password" name="password" placeholder="Password" style="margin-top: 20px;">
        </div>
        <!-- Submit button for login -->
        <input class="btn btn-primary" type="submit" value="Login">
        <div style="padding-top: 50px">
            <!-- Link to register if the user doesn't have an account -->
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div>
    </form>
    
{% endblock %}
